body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    width: 30%;
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
    padding: 25px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo-header {
    border-radius: 100%;
    width: 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.food-style {
    display: flex;
}


.title {
    font-size: 48px;
    color: #f9faf8;
}

.btn-1 {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #3882f6;
    color: #fff;
}

.information {
    text-align: center;
    font-size: 36px;
    color: #1f2937;

}

.two-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.info {
    max-width: 950px;
    font-size: 15px;
    text-align: center;
}

.three-container {
    background-color: #e5e7eb;
    font-size: 36px;
    padding: 40px;
    margin: 5px;
}

.menu {
    border: 5px solid darkblue;
    border-radius: 5px;
    width: 250px;
}

.four-container {
    background-color: lightblue;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    padding: 10px;
    margin: 40px
}

.action {
    align-self: flex-start;
    position: relative;
    top: 35px;
}

.flex-option {
    display: flex;
    justify-content: space-between;
}

.btn-2 {
    padding: 10px;
    width: 100px;
    border: 5px solid white;
    border-radius: 5px;
    color: #fff;
    background-color: lightblue;
    cursor: pointer;
}